.border {
    border-radius: 25px;
    border: 2px solid #77B2B7;
}

.center {
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.parallax {
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
}