html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

body {
    background-color: #1A1A1A;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #808080;
    font-weight: bold;
}

h2 {
    color: #FFB380;
}

.container {
    background-color: rgb(26, 26, 26, .6);
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}