body {
    background-color: #1A1A1A;
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
    color: #FFC266;
    font-weight: bold;
}

h2 {
    color: #FFB380;
}

.container {
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.container1 {
    background-image: url(images/background2.png);
    background-repeat: repeat;
}

.container2 {
    background-image: url(images/background3.png);
    background-repeat: repeat;
}

.container3 {
    background-color: #000000;
}

#footer {
    bottom: 0%;
    position: fixed;
    text-align: right;
}

.topSpace {
    margin-top: 30px;
}

.leftSpace {
    margin-left: 50px;
}

.fadePicture {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.parallax1 {
    background-image: url("images/background1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}