body {
    background-color: #FFFFFF;
    color: #FF6666;
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
    color: #FF6666;
}

h2 {
    color: #800000;
}

h3 {
    color: #990000;
}

th {
    color: #B30000;
}

td {
    color: #FF1A1A;
}

.text-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #CC0000;
}

.topSpace {
    margin-top: 100px;
}

.bottomSpace {
    margin-bottom: 100px;
}

.bg-theme {
    background-color: #CC0000;
}

#footer {
    bottom: 0%;
    text-align: right;
}