body {
    background-color: #FFFFCC;
}

.parallax1 {
    background-attachment: fixed;
    opacity: 0.35;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-image: url(Photos/parallax_one.jpg);
}

.parallax2 {
    background-attachment: fixed;
    opacity: 0.35;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-image: url(Photos/parallax_two.jpg);
}

.container {
    background-color: #FFFFFF;
}

.top_space {
    padding-top: 100px;
}

.bottom_space {
    padding-bottom: 100px;
}

.carouselImage {
  width: auto;
  height: 500px;
  max-height: 500px;
}

.carouselText {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

.smallText {
    font-size: 1em
}

@media only screen and (max-width: 480px) {
    .carouselImage {
      width: auto;
      height: 250px;
    }
}
