body {
    background-color: #FFFFCC;
}

.parallax {
    background-attachment: fixed;
    opacity: 0.35;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-image: url("https://scontent.ffcm1-1.fna.fbcdn.net/v/t31.0-8/27748249_10215416345026281_5119372098363962559_o.jpg?_nc_cat=110&_nc_ht=scontent.ffcm1-1.fna&oh=05898a641c273435f936deda5abcde32&oe=5CCD1306");
}

.container {
    background-color: #FFFFFF;
}

.top_space {
    padding-top: 100px;
}

.bottom_space {
    padding-bottom: 100px;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2.5px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.carouselImage {
  width: auto;
  height: 500px;
  max-height: 500px;
}

@media only screen and (max-width: 480px) {
    .carouselImage {
      width: auto;
      height: 250px;
    }
}